
#root{
  .ant-layout-header,
  .ant-pro-fixed-header{
    box-shadow: 00 4px 4px rgb(212 212 212 / 30%);
    .ant-pro-top-nav-header{
      box-shadow: none!important;
    }
    background-color: #fff;
    padding-top:20px!important;
    height: 74px!important;

    .ant-pro-menu-item{
      display: block;
      padding: 0 16px;
      color: #333;
      line-height: 34px;
      font-size: 20px;
    }

    .ant-menu-item-active,
    .ant-menu-item-selected{
      background: transparent;
      .ant-pro-menu-item{
        color: #7e4f20;
        background: linear-gradient(90deg,#fce4bb,#f1cb91);
        border-radius: 8px 2px 8px 8px;
      }
    }
  }


  .login-form{

  }
}
.login-modal{
  .ant-modal-content{
    .ant-modal-header{
      background-color: #dde7fd !important;
      text-align: center ;
    }

    .ant-btn-primary{
      color: #7e4f20;
      border-color:#fce4bb;
      background:linear-gradient(90deg,#fce4bb,#f1cb91)
    }
  }

}

#logo{
  top: -25px;
  height: 77px;
  width: 120px;
  left: 74px;

  img{
    display: block;
    width: 80px;
    height: 80px;
  }
  h1{
    display: none;
  }
}
